@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.header{
    margin: 0 64px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.right__part{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links{
    color: #030A1B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.header-links:hover{
    color: #FE753F;
}
.button-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header-button{
    height: 54px;
}
@media(max-width:1350px){
    .right__part{
        width: 40%;
    }
}
@media(max-width:1050px){
    .right__part{
        width:50%;
    }
}
@media(max-width:845px){
    .right__part{
        width:60%;
    }
    .logo-header{
        width: 200px;
    }
}