.Partner{
    margin: 160px 64px 107px 64px;
}
.container-num2{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.logo-text__div{
    max-width: 40%;

}
.logo-text{
    color: #030A1B;
    font-family: Poppins;
    font-size: 61px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 73.2px */
    text-align: left;
    margin-top: 0;
}
.partners{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partner__header{
    color: #030A1B;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
@media(max-width:1150px){
    .logo-text{
        font-size: 40px;
    }
    .img-partner{
        height: 450px;
        width: 400px;
    }
}
@media(max-width:950px){
    .partners{
        justify-content: space-around;
    }
}


